* {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 2rem;
}

button {
    background-color: rgb(210, 217, 235);
    border: none;
    border-radius: 5px;
    font-size: 14px;
    &:hover {
        text-decoration: underline;
        background-color: darken(rgb(210, 217, 235), 10%);
        cursor: pointer; 
    }
    
}